In [167]:
import pandas as pd

In [168]:
pd.options.mode.chained_assignment = None  # default='warn'

In [169]:
survey_df = pd.read_csv("survey.csv", low_memory=False)
survey_df.head()

,cps19_StartDate,cps19_EndDate,cps19_ResponseId,cps19_consent,cps19_citizenship,cps19_yob,cps19_yob_2001_age,cps19_gender,cps19_province,cps19_education,...,split_vol_assoc,pes19_data_quality,pes19_panel,pes19_age,pes19_duplicates_flag,pes19_inattentive,cps19_weight_general_all,cps19_weight_general_restricted,pes19_weight_general_all,pes19_weight_general_restricted
0,2019-09-13 08:09:44,2019-09-13 08:36:19,R_1OpYXEFGzHRUpjM,I consent to participate in this study. I have...,Canadian citizen,1989,NaN,A woman,Quebec,Master's degree,...,NaN,NaN,NaN,NaN,NaN,NaN,0.68,0.67,NaN,NaN
1,2019-09-13 08:39:09,2019-09-13 08:57:06,R_2qdrL3J618rxYW0,I consent to participate in this study. I have...,Canadian citizen,1998,NaN,A woman,Quebec,Master's degree,...,NaN,NaN,NaN,NaN,NaN,NaN,0.68,0.67,NaN,NaN
2,2019-09-13 10:01:19,2019-09-13 10:27:29,R_USWDAPcQEQiMmNb,I consent to participate in this study. I have...,Canadian citizen,2000,NaN,A woman,Ontario,Some university,...,NaN,NaN,NaN,NaN,NaN,NaN,0.65,0.64,NaN,NaN
3,2019-09-13 10:05:37,2019-09-13 10:50:53,R_3IQaeDXy0tBzEry,I consent to participate in this study. I have...,Canadian citizen,1998,NaN,A man,Ontario,Some university,...,NaN,NaN,NaN,NaN,NaN,NaN,0.89,0.86,NaN,NaN
4,2019-09-13 10:05:52,2019-09-13 10:32:53,R_27WeMQ1asip2cMD,I consent to participate in this study. I have...,Canadian citizen,2000,NaN,A woman,Ontario,Completed secondary/ high school,...,NaN,NaN,NaN,NaN,NaN,NaN,1.65,1.65,NaN,NaN

In [170]:
columns = list(survey_df.columns)
columns

['cps19_StartDate',
 'cps19_EndDate',
 'cps19_ResponseId',
 'cps19_consent',
 'cps19_citizenship',
 'cps19_yob',
 'cps19_yob_2001_age',
 'cps19_gender',
 'cps19_province',
 'cps19_education',
 'cps19_demsat',
 'cps19_imp_iss',
 'cps19_imp_iss_party',
 'cps19_imp_iss_party_7_TEXT',
 'cps19_imp_loc_iss',
 'cps19_imp_loc_iss_p',
 'cps19_imp_loc_iss_p_7_TEXT',
 'cps19_interest_gen_1',
 'cps19_interest_elxn_1',
 'cps19_v_likely',
 'cps19_v_likely_pr',
 'cps19_votechoice',
 'cps19_votechoice_7_TEXT',
 'cps19_votechoice_pr',
 'cps19_votechoice_pr_7_TEXT',
 'cps19_vote_unlikely',
 'cps19_vote_unlikely_7_TEXT',
 'cps19_vote_unlike_pr',
 'cps19_vote_unlike_pr_7_TEXT',
 'cps19_v_advance',
 'cps19_v_advance_7_TEXT',
 'cps19_vote_lean',
 'cps19_vote_lean_7_TEXT',
 'cps19_vote_lean_pr',
 'cps19_vote_lean_pr_7_TEXT',
 'cps19_2nd_choice',
 'cps19_2nd_choice_7_TEXT',
 'cps19_2nd_choice_pr',
 'cps19_2nd_choice_pr_7_TEXT',
 'cps19_not_vote_for_1',
 'cps19_not_vote_for_2',
 'cps19_not_vote_for_3',
 'cps19_not_vote_for_4',
 'cps19_not_vote_for_5',
 'cps19_not_vote_for_6',
 'cps19_not_vote_for_7',
 'cps19_not_vote_for_8',
 'cps19_not_vote_for_9',
 'cps19_not_vote_for_7_TEXT',
 'cps19_fed_gov_sat',
 'cps19_party_rating_23',
 'cps19_party_rating_24',
 'cps19_party_rating_25',
 'cps19_party_rating_26',
 'cps19_party_rating_27',
 'cps19_party_rating_28',
 'cps19_lead_rating_23',
 'cps19_lead_rating_24',
 'cps19_lead_rating_25',
 'cps19_lead_rating_26',
 'cps19_lead_rating_27',
 'cps19_lead_rating_28',
 'cps19_cand_rating_23',
 'cps19_cand_rating_24',
 'cps19_cand_rating_25',
 'cps19_cand_rating_26',
 'cps19_cand_rating_27',
 'cps19_cand_rating_28',
 'cps19_lr_scale_bef_1',
 'cps19_lr_parties_1',
 'cps19_lr_parties_2',
 'cps19_lr_parties_3',
 'cps19_lr_parties_4',
 'cps19_lr_parties_5',
 'cps19_lr_parties_6',
 'cps19_lr_scale_aft_1',
 'cps19_lead_int_113',
 'cps19_lead_int_114',
 'cps19_lead_int_115',
 'cps19_lead_int_116',
 'cps19_lead_int_117',
 'cps19_lead_int_118',
 'cps19_lead_int_119',
 'cps19_lead_int_120',
 'cps19_lead_strong_113',
 'cps19_lead_strong_114',
 'cps19_lead_strong_115',
 'cps19_lead_strong_116',
 'cps19_lead_strong_117',
 'cps19_lead_strong_118',
 'cps19_lead_strong_119',
 'cps19_lead_strong_120',
 'cps19_lead_trust_113',
 'cps19_lead_trust_114',
 'cps19_lead_trust_115',
 'cps19_lead_trust_116',
 'cps19_lead_trust_117',
 'cps19_lead_trust_118',
 'cps19_lead_trust_119',
 'cps19_lead_trust_120',
 'cps19_lead_cares_113',
 'cps19_lead_cares_114',
 'cps19_lead_cares_115',
 'cps19_lead_cares_116',
 'cps19_lead_cares_117',
 'cps19_lead_cares_118',
 'cps19_lead_cares_119',
 'cps19_lead_cares_120',
 'cps19_spend_educ',
 'cps19_spend_env',
 'cps19_spend_just_law',
 'cps19_spend_defence',
 'cps19_spend_imm_min',
 'cps19_pos_fptp',
 'cps19_pos_life',
 'cps19_pos_cannabis',
 'cps19_pos_carbon',
 'cps19_pos_energy',
 'cps19_pos_envreg',
 'cps19_pos_jobs',
 'cps19_pos_subsid',
 'cps19_pos_trade',
 'cps19_econ_retro',
 'cps19_econ_fed',
 'cps19_ownfinanc_fed',
 'cps19_issue_handle_1',
 'cps19_issue_handle_2',
 'cps19_issue_handle_3',
 'cps19_issue_handle_4',
 'cps19_issue_handle_5',
 'cps19_issue_handle_6',
 'cps19_issue_handle_7',
 'cps19_issue_handle_8',
 'cps19_most_seats_1',
 'cps19_most_seats_2',
 'cps19_most_seats_3',
 'cps19_most_seats_4',
 'cps19_most_seats_5',
 'cps19_most_seats_6',
 'cps19_win_local_1',
 'cps19_win_local_2',
 'cps19_win_local_3',
 'cps19_win_local_4',
 'cps19_win_local_5',
 'cps19_win_local_6',
 'cps19_outcome_most',
 'cps19_outcome_most_14_TEXT',
 'cps19_outcome_least',
 'cps19_outcome_least_14_TEXT',
 'cps19_imm',
 'cps19_refugees',
 'cps19_govt_confusing',
 'cps19_govt_say',
 'cps19_pol_eth',
 'cps19_lib_promises',
 'cps19_snclav',
 'cps19_news_cons',
 'cps19_volunteer',
 'cps19_duty_choice',
 'cps19_quebec_sov',
 'cps19_own_fin_retro',
 'cps19_premier_name',
 'cps19_finmin_name',
 'cps19_govgen_name',
 'cps19_presrus_name',
 'cps19_prov_gov_sat',
 'cps19_fed_id',
 'cps19_fed_id_7_TEXT',
 'cps19_fed_id_str',
 'cps19_prov_id',
 'cps19_prov_id_295_TEXT',
 'cps19_prov_id_str',
 'cps19_party_member_36',
 'cps19_party_member_37',
 'cps19_party_member_38',
 'cps19_party_member_39',
 'cps19_party_member_40',
 'cps19_fed_member',
 'cps19_fed_member_62_TEXT',
 'cps19_prov_member',
 'cps19_prov_member_295_TEXT',
 'cps19_fed_donate',
 'cps19_groups_therm_1',
 'cps19_groups_therm_2',
 'cps19_groups_therm_3',
 'cps19_groups_therm_4',
 'cps19_groups_therm_5',
 'cps19_spoil',
 'cps19_turnout_2015',
 'cps19_vote_2015',
 'cps19_vote_2015_6_TEXT',
 'cps19_debate_en',
 'cps19_debate_fr',
 'cps19_religion',
 'cps19_religion_22_TEXT',
 'cps19_rel_imp',
 'cps19_bornin_canada',
 'cps19_bornin_other',
 'cps19_imm_year',
 'cps19_ethnicity_23',
 'cps19_ethnicity_24',
 'cps19_ethnicity_25',
 'cps19_ethnicity_26',
 'cps19_ethnicity_27',
 'cps19_ethnicity_28',
 'cps19_ethnicity_29',
 'cps19_ethnicity_30',
 'cps19_ethnicity_31',
 'cps19_ethnicity_32',
 'cps19_ethnicity_33',
 'cps19_ethnicity_34',
 'cps19_ethnicity_35',
 'cps19_ethnicity_36',
 'cps19_ethnicity_37',
 'cps19_ethnicity_38',
 'cps19_ethnicity_39',
 'cps19_ethnicity_40',
 'cps19_ethnicity_41',
 'cps19_ethnicity_42',
 'cps19_ethnicity_43',
 'cps19_ethnicity_41_TEXT',
 'cps19_ethnicity_42_TEXT',
 'cps19_sexuality',
 'cps19_sexuality_4_TEXT',
 'cps19_language_68',
 'cps19_language_69',
 'cps19_language_70',
 'cps19_language_71',
 'cps19_language_72',
 'cps19_language_73',
 'cps19_language_74',
 'cps19_language_75',
 'cps19_language_76',
 'cps19_language_77',
 'cps19_language_78',
 'cps19_language_79',
 'cps19_language_80',
 'cps19_language_81',
 'cps19_language_82',
 'cps19_language_83',
 'cps19_language_84',
 'cps19_language_85',
 'cps19_language_70_TEXT',
 'cps19_language_84_TEXT',
 'cps19_employment',
 'cps19_employment_12_TEXT',
 'cps19_sector',
 'cps19_union',
 'cps19_children',
 'cps19_income_number',
 'cps19_income_cat',
 'cps19_property_1',
 'cps19_property_2',
 'cps19_property_3',
 'cps19_property_4',
 'cps19_property_5',
 'cps19_property_6',
 'cps19_marital',
 'cps19_household',
 'cps19_current_date',
 'cps19_current_date_string',
 'cps19_Q_Language',
 'cps19_Q_TotalDuration',
 'get_news',
 'get_more_naming',
 'get_not_vote_for',
 'get_party_issue_handling',
 'get_imp_loc_iss',
 'get_outcome',
 'justice_law',
 'justice_law_fr',
 'lr_scale_order',
 'ethnicity_intro',
 'ethnicity_intro_fr',
 'premier',
 'province_fr',
 'pid_en',
 'pid_party_en',
 'pid_party_fr',
 'cps19_data_quality',
 'cps19_panel',
 'cps19_age',
 'cps19_duplicates_flag',
 'cps19_inattentive',
 'constituencynumber',
 'constituencyname',
 'pes19_StartDate',
 'pes19_EndDate',
 'pes19_ResponseId',
 'pes19_consent',
 'pes19_province',
 'pes19_citizen',
 'pes19_mostimpissue',
 'pes19_turnout2019',
 'pes19_turnout2019_v2',
 'pes19_notvotereason1',
 'pes19_notvotereason2',
 'pes19_howvote',
 'pes19_howvote_7_TEXT',
 'pes19_votereason',
 'pes19_votechoice2019',
 'pes19_votechoice2019_7_TEXT',
 'pes19_pr_votechoice',
 'pes19_pr_votechoice_7_TEXT',
 'pes19_dem_sat',
 'pes19_campatt',
 'pes19_contact1',
 'pes19_contact2_1',
 'pes19_contact2_2',
 'pes19_contact2_3',
 'pes19_contact2_4',
 'pes19_contact2_5',
 'pes19_contact2_8',
 'pes19_contact2_6',
 'pes19_contact2_7',
 'pes19_contact2_6_TEXT',
 'pes19_mandate',
 'pes19_formgovt',
 'pes19_keepromises',
 'pes19_groups1_1',
 'pes19_groups1_2',
 'pes19_groups1_3',
 'pes19_groups1_4',
 'pes19_libwords',
 'pes19_conwords',
 'pes19_ndpwords',
 'pes19_bqwords',
 'pes19_greenwords',
 'pes19_peopleswords',
 'pes19_econ_retro',
 'pes19_pos_fptp',
 'pes19_paymed',
 'pes19_senate',
 'pes19_envirojob',
 'pes19_hatespeech',
 'pes19_losetouch',
 'pes19_womenhome',
 'pes19_govtcare',
 'pes19_complicated',
 'pes19_famvalues',
 'pes19_pollie',
 'pes19_bilingualism',
 'pes19_equalrights',
 'pes19_ethid',
 'pes19_fitin',
 'pes19_immigjobs',
 'pes19_govteff',
 'pes19_govtprograms',
 'pes19_tieus',
 'pes19_tiechina',
 'pes19_country_1',
 'pes19_country_2',
 'pes19_country_3',
 'pes19_country_4',
 'pes19_can_id_1',
 'pes19_can_id_2',
 'pes19_can_id_3',
 'pes19_can_id_4',
 'pes19_ottawa_perf',
 'pes19_party_rep',
 'pes19_party_rep_whic',
 'pes19_party_rep_whic_7_TEXT',
 'pes19_party_rate_10',
 'pes19_party_rate_11',
 'pes19_party_rate_12',
 'pes19_party_rate_13',
 'pes19_party_rate_14',
 'pes19_lead_rate_7',
 'pes19_lead_rate_8',
 'pes19_lead_rate_9',
 'pes19_lead_rate_10',
 'pes19_lead_rate_11',
 'pes19_lr_parties_1',
 'pes19_lr_parties_2',
 'pes19_lr_parties_3',
 'pes19_lr_parties_4',
 'pes19_lr_parties_5',
 'pes19_lr_self_1',
 'pes19_emb_none',
 'pes19_emb_id',
 'pes19_emb_vote16',
 'pes19_lowturnout',
 'pes19_internetvote1',
 'pes19_internetvote2',
 'pes19_conf_inst1_1',
 'pes19_conf_inst1_2',
 'pes19_conf_inst1_3',
 'pes19_conf_inst2_1',
 'pes19_conf_inst2_2',
 'pes19_conf_inst2_3',
 'pes19_conf_inst2_4',
 'pes19_conf_inst2_5',
 'pes19_conf_inst2_6',
 'pes19_conf_inst2_7',
 'pes19_conf_inst2_8',
 'pes19_conf_inst2_9',
 'pes19_foreign',
 'pes19_emb_satif',
 'pes19_emb8',
 'pes19_internetregis',
 'pes19_internetrisk1',
 'pes19_internetrisk2',
 'pes19_emb_register',
 'pes19_emb_card',
 'pes19_emb_register2',
 'pes19_emb_reg_how',
 'pes19_emb_register3',
 'pes19_emb4_1',
 'pes19_emb4_2',
 'pes19_emb4_3',
 'pes19_emb4_4',
 'pes19_emb4_5',
 'pes19_emb4_6',
 'pes19_emb4_7',
 'pes19_emb4_8',
 'pes19_emb4_9',
 'pes19_emb4_10',
 'pes19_emb4_11',
 'pes19_emb4_12',
 'pes19_emb4_13',
 'pes19_emb4_14',
 'pes19_emb4_15',
 'pes19_emb4_16',
 'pes19_emb4_11_TEXT',
 'pes19_emb4_14_TEXT',
 'pes19_emb7_2',
 'pes19_emb7_3',
 'pes19_emb7_5',
 'pes19_emb_info',
 'pes19_provvote',
 'pes19_provvote_295_TEXT',
 'pes19_interest_1',
 'pes19_socnet1',
 'pes10_socnet3',
 'pes19_socnet2_1',
 'pes19_socnet2_2',
 'pes19_socnet2_3',
 'pes19_discfam',
 'pes19_discwork',
 'pes19_disagreed',
 'pes19_partic1_1',
 'pes19_partic1_2',
 'pes19_partic1_3',
 'pes19_partic2_1',
 'pes19_partic2_2',
 'pes19_partic2_3',
 'pes19_partic2_4',
 'pes19_partic3_1',
 'pes19_partic3_2',
 'pes19_partic3_3',
 'pes19_partic3_4',
 'pes19_partic3_5',
 'pes19_partic3_6',
 'pes19_volassoc_1',
 'pes19_volassoc_2',
 'pes19_volassoc_3',
 'pes19_volassoc_4',
 'pes19_volassoc_5',
 'pes19_volassoc_6',
 'pes19_volassoc_7',
 'pes19_volassoc_8',
 'pes19_volassoc_9',
 'pes19_volassoc_10',
 'pes19_volassoc_11',
 'pes19_volassoc_12',
 'pes19_volassoc_13',
 'pes19_volassoc_14',
 'pes19_volassoc_12_TEXT',
 'pes19_partymember',
 'pes19_diff_power_1',
 'pes19_diff_happens_1',
 'pes19_mediaelite',
 'pes19_medianolie',
 'pes19_opinion',
 'pes19_lookslikeme',
 'pes19_womenparl',
 'pes19_corruption',
 'pes19_populism_1',
 'pes19_populism_2',
 'pes19_populism_3',
 'pes19_populism_4',
 'pes19_populism_5',
 'pes19_populism_6',
 'pes19_populism_7',
 'pes19_populism_8',
 'pes19_nativism1',
 'pes19_nativism2',
 'pes19_nativism3',
 'pes19_nativism4',
 'pes19_nativism5',
 'pes19_canid1',
 'pes19_canid2',
 'pes19_canid3',
 'pes19_sdo1',
 'pes19_sdo2',
 'pes19_sdo3',
 'pes19_sdo4',
 'pes19_donerm',
 'pes19_donew',
 'pes19_donegl',
 'pes19_doneqc',
 'pes19_taxes_1',
 'pes19_taxes_2',
 'pes19_taxes_3',
 'pes19_taxes_4',
 'pes19_taxes_5',
 'pes19_abort1',
 'pes19_abort2',
 'pes19_abort3',
 'pes19_abort4',
 'pes19_abort5',
 'pes19_abort6',
 'pes19_trade',
 'pes19_privjobs',
 'pes19_govt_act_ineq',
 'pes19_deserve1',
 'pes19_deserve2',
 'pes19_blame',
 'pes19_stdofliving',
 'pes19_trust',
 'pes19_inequal',
 'pes19_gap',
 'pes19_provfed',
 'pes19_hostile1',
 'pes19_hostile2',
 'pes19_hostile3',
 'pes19_benevolent1',
 'pes19_benevolent2',
 'pes19_benevolent3',
 'pes19_pos_carbon',
 'pes19_pos_energy',
 'pes19_cc1',
 'pes19_cc2',
 'pes19_cc2_3_TEXT',
 'pes19_pid_close',
 'pes19_little_close',
 'pes19_pid',
 'pes19_pid_5_TEXT',
 'pes19_pid_strength',
 'pes19_pidtrad',
 'pes19_pidtrad_7_TEXT',
 'pes19_pidtradstrong',
 'pes19_affective_1',
 'pes19_affective_2',
 'pes19_affective_3',
 'pes19_affective_4',
 'pes19_langQC',
 'pes19_cultureQC',
 'pes19_qclang',
 'pes19_qcsol',
 'pes19_newerlife',
 'pes19_happy',
 'pes19_satisfied',
 'pes19_cognition',
 'pes19_feminine_1',
 'pes19_masculine_1',
 'pes19_big5_1',
 'pes19_big5_2',
 'pes19_big5_3',
 'pes19_big5_4',
 'pes19_big5_5',
 'pes19_big5_6',
 'pes19_big5_7',
 'pes19_big5_8',
 'pes19_big5_9',
 'pes19_big5_10',
 'pes19_health',
 'pes19_phealth',
 'pes19_mhealth',
 'pes19_yob',
 'pes19_month_of_birth',
 'pes19_service_freq',
 'pes19_parents_born',
 'pes19_rural_urban',
 'pes19_lived',
 'pes19_follow_pol',
 'pes19_lang',
 'pes19_lang_70_TEXT',
 'pes19_lang_84_TEXT',
 'pes19_occ_text',
 'pes19_occ_cat',
 'pes19_occ_cat_28_TEXT',
 'pes19_employment',
 'pes19_employment_12_TEXT',
 'pes19_current_date',
 'pes19_current_date_string',
 'pes19_Q_Language',
 'pes19_Q_TotalDuration',
 'notvote_split',
 'splitsample',
 'confidence_institutions_word',
 'confidence_institutions_word_fr',
 'govt_programs_word',
 'govt_programs_word_fr',
 'split_taxes',
 'split_senate',
 'split_trade',
 'split_lifesat',
 'split_responsibility',
 'split_sexism',
 'split_abortion',
 'split_getahead',
 'split_att_div',
 'split_govt_eff',
 'split_medical',
 'split_ties',
 'split_health_followups',
 'split_gender_id',
 'split_big5',
 'split_hatespeech',
 'split_vol_assoc',
 'pes19_data_quality',
 'pes19_panel',
 'pes19_age',
 'pes19_duplicates_flag',
 'pes19_inattentive',
 'cps19_weight_general_all',
 'cps19_weight_general_restricted',
 'pes19_weight_general_all',
 'pes19_weight_general_restricted']

In [171]:
cps_columns = []
for column in columns:
    if 'cps19' in column:
        cps_columns.append(column)

In [172]:
cps_df = survey_df[cps_columns]
cps_df.head()

,cps19_StartDate,cps19_EndDate,cps19_ResponseId,cps19_consent,cps19_citizenship,cps19_yob,cps19_yob_2001_age,cps19_gender,cps19_province,cps19_education,...,cps19_current_date_string,cps19_Q_Language,cps19_Q_TotalDuration,cps19_data_quality,cps19_panel,cps19_age,cps19_duplicates_flag,cps19_inattentive,cps19_weight_general_all,cps19_weight_general_restricted
0,2019-09-13 08:09:44,2019-09-13 08:36:19,R_1OpYXEFGzHRUpjM,I consent to participate in this study. I have...,Canadian citizen,1989,NaN,A woman,Quebec,Master's degree,...,20190913,FR-CA,1594,Clean complete,NaN,30,Unique,Not inattentive,0.68,0.67
1,2019-09-13 08:39:09,2019-09-13 08:57:06,R_2qdrL3J618rxYW0,I consent to participate in this study. I have...,Canadian citizen,1998,NaN,A woman,Quebec,Master's degree,...,20190913,FR-CA,1076,Clean complete,NaN,21,Unique,Not inattentive,0.68,0.67
2,2019-09-13 10:01:19,2019-09-13 10:27:29,R_USWDAPcQEQiMmNb,I consent to participate in this study. I have...,Canadian citizen,2000,NaN,A woman,Ontario,Some university,...,20190913,EN,1570,Clean complete,NaN,19,Unique,Not inattentive,0.65,0.64
3,2019-09-13 10:05:37,2019-09-13 10:50:53,R_3IQaeDXy0tBzEry,I consent to participate in this study. I have...,Canadian citizen,1998,NaN,A man,Ontario,Some university,...,20190913,EN,2716,Clean complete,NaN,21,Unique,Not inattentive,0.89,0.86
4,2019-09-13 10:05:52,2019-09-13 10:32:53,R_27WeMQ1asip2cMD,I consent to participate in this study. I have...,Canadian citizen,2000,NaN,A woman,Ontario,Completed secondary/ high school,...,20190913,EN,1621,Clean complete,NaN,19,Unique,Not inattentive,1.65,1.65

In [173]:
cps_df.drop(['cps19_StartDate', 'cps19_EndDate', 'cps19_consent', 'cps19_yob_2001_age', 'cps19_current_date_string', 'cps19_Q_Language', 'cps19_Q_TotalDuration', 'cps19_data_quality', 'cps19_panel', 'cps19_age', 'cps19_duplicates_flag', 'cps19_inattentive', 'cps19_weight_general_restricted'], axis=1, inplace=True)

In [174]:
cps_df.head()

,cps19_ResponseId,cps19_citizenship,cps19_yob,cps19_gender,cps19_province,cps19_education,cps19_demsat,cps19_imp_iss,cps19_imp_iss_party,cps19_imp_iss_party_7_TEXT,...,cps19_property_1,cps19_property_2,cps19_property_3,cps19_property_4,cps19_property_5,cps19_property_6,cps19_marital,cps19_household,cps19_current_date,cps19_weight_general_all
0,R_1OpYXEFGzHRUpjM,Canadian citizen,1989,A woman,Quebec,Master's degree,Fairly satisfied,environnement,Green Party,NaN,...,NaN,NaN,NaN,NaN,NaN,Don't know/ Prefer not to answer,Don't know/ Prefer not to answer,2.00,20190913,0.68
1,R_2qdrL3J618rxYW0,Canadian citizen,1998,A woman,Quebec,Master's degree,Don't know/ Prefer not to answer,environnement,Green Party,NaN,...,NaN,NaN,NaN,Have any savings,NaN,NaN,Living with a partner,2.00,20190913,0.68
2,R_USWDAPcQEQiMmNb,Canadian citizen,2000,A woman,Ontario,Some university,Fairly satisfied,NaN,NaN,NaN,...,Own a residence,NaN,NaN,Have any savings,NaN,NaN,Never Married,5.00,20190913,0.65
3,R_3IQaeDXy0tBzEry,Canadian citizen,1998,A man,Ontario,Some university,Fairly satisfied,strengthening foreign relations,Conservative Party,NaN,...,Own a residence,"Own a business, a piece of property, a farm or...",NaN,Have any savings,NaN,NaN,Never Married,6.00,20190913,0.89
4,R_27WeMQ1asip2cMD,Canadian citizen,2000,A woman,Ontario,Completed secondary/ high school,Fairly satisfied,Taxation and Government Spending,Don't know/ Prefer not to answer,NaN,...,Own a residence,NaN,NaN,NaN,NaN,NaN,Never Married,6.00,20190913,1.65

In [175]:
cps_df.drop(['cps19_current_date', 'cps19_weight_general_all'], axis=1, inplace=True)

In [176]:
cps_df.head()

,cps19_ResponseId,cps19_citizenship,cps19_yob,cps19_gender,cps19_province,cps19_education,cps19_demsat,cps19_imp_iss,cps19_imp_iss_party,cps19_imp_iss_party_7_TEXT,...,cps19_income_number,cps19_income_cat,cps19_property_1,cps19_property_2,cps19_property_3,cps19_property_4,cps19_property_5,cps19_property_6,cps19_marital,cps19_household
0,R_1OpYXEFGzHRUpjM,Canadian citizen,1989,A woman,Quebec,Master's degree,Fairly satisfied,environnement,Green Party,NaN,...,NaN,Don't know/ Prefer not to answer,NaN,NaN,NaN,NaN,NaN,Don't know/ Prefer not to answer,Don't know/ Prefer not to answer,2.00
1,R_2qdrL3J618rxYW0,Canadian citizen,1998,A woman,Quebec,Master's degree,Don't know/ Prefer not to answer,environnement,Green Party,NaN,...,NaN,Don't know/ Prefer not to answer,NaN,NaN,NaN,Have any savings,NaN,NaN,Living with a partner,2.00
2,R_USWDAPcQEQiMmNb,Canadian citizen,2000,A woman,Ontario,Some university,Fairly satisfied,NaN,NaN,NaN,...,NaN,Don't know/ Prefer not to answer,Own a residence,NaN,NaN,Have any savings,NaN,NaN,Never Married,5.00
3,R_3IQaeDXy0tBzEry,Canadian citizen,1998,A man,Ontario,Some university,Fairly satisfied,strengthening foreign relations,Conservative Party,NaN,...,NaN,"$110,001 to $150,000",Own a residence,"Own a business, a piece of property, a farm or...",NaN,Have any savings,NaN,NaN,Never Married,6.00
4,R_27WeMQ1asip2cMD,Canadian citizen,2000,A woman,Ontario,Completed secondary/ high school,Fairly satisfied,Taxation and Government Spending,Don't know/ Prefer not to answer,NaN,...,56000.00,NaN,Own a residence,NaN,NaN,NaN,NaN,NaN,Never Married,6.00

In [177]:
cps_df.drop(['cps19_imp_iss_party_7_TEXT'], axis=1, inplace=True)

In [178]:
demographics_df = cps_df[['cps19_ResponseId', 'cps19_citizenship', 'cps19_yob', 'cps19_gender', 'cps19_gender', 'cps19_education', 'cps19_income_cat', 'cps19_employment', 'cps19_sector', 'cps19_union', 'cps19_sexuality', 'cps19_marital', 'cps19_household', 'cps19_children']]
demographics_df.head(20)

,cps19_ResponseId,cps19_citizenship,cps19_yob,cps19_gender,cps19_gender,cps19_education,cps19_income_cat,cps19_employment,cps19_sector,cps19_union,cps19_sexuality,cps19_marital,cps19_household,cps19_children
0,R_1OpYXEFGzHRUpjM,Canadian citizen,1989,A woman,A woman,Master's degree,Don't know/ Prefer not to answer,Don't know/ Prefer not to answer,NaN,Yes,Prefer not to say,Don't know/ Prefer not to answer,2.00,No
1,R_2qdrL3J618rxYW0,Canadian citizen,1998,A woman,A woman,Master's degree,Don't know/ Prefer not to answer,Student and working for pay,NaN,Yes,Prefer not to say,Living with a partner,2.00,No
2,R_USWDAPcQEQiMmNb,Canadian citizen,2000,A woman,A woman,Some university,Don't know/ Prefer not to answer,Student,NaN,Yes,Heterosexual,Never Married,5.00,No
3,R_3IQaeDXy0tBzEry,Canadian citizen,1998,A man,A man,Some university,"$110,001 to $150,000",Student and working for pay,NaN,No,Heterosexual,Never Married,6.00,No
4,R_27WeMQ1asip2cMD,Canadian citizen,2000,A woman,A woman,Completed secondary/ high school,NaN,Working for pay part-time,Private sector,No,Heterosexual,Never Married,6.00,No
5,R_3LiGZcCWJEcWV4P,Canadian citizen,1999,A woman,A woman,Some university,"$110,001 to $150,000",Student and working for pay,NaN,No,Heterosexual,Never Married,5.00,No
6,R_1Iu8R1UlYzVMycz,Permanent resident,1998,A woman,A woman,Completed secondary/ high school,NaN,Student,NaN,No,Heterosexual,Never Married,3.00,No
7,R_2EcS26hqrcVYlab,Canadian citizen,1998,A woman,A woman,Some university,"$90,001 to $110,000",Student and working for pay,NaN,No,Heterosexual,Don't know/ Prefer not to answer,4.00,No
8,R_3yrt44wqQ1d4VRn,Canadian citizen,1998,A woman,A woman,Some university,Don't know/ Prefer not to answer,Student,NaN,No,Heterosexual,Never Married,5.00,No
9,R_10OBmXJyvn8feYQ,Canadian citizen,2000,A man,A man,Completed secondary/ high school,Don't know/ Prefer not to answer,Working for pay part-time,Public sector,No,Heterosexual,Never Married,4.00,No
10,R_2e5nvu0UchQctgq,Canadian citizen,2000,A woman,A woman,Completed secondary/ high school,Don't know/ Prefer not to answer,Student and working for pay,NaN,Yes,Heterosexual,Never Married,4.00,No
11,R_2OJdv16hkRGnjOn,Canadian citizen,1998,A woman,A woman,Some university,"More than $200,000",Working for pay part-time,Private sector,No,Bisexual,Living with a partner,2.00,No
12,R_3F5wpLvNlRtNQuK,Canadian citizen,1999,A man,A man,Completed secondary/ high school,"$150,001 to $200,000",Student,NaN,No,Heterosexual,Never Married,4.00,No
13,R_3j7fAVYfVCewi3H,Canadian citizen,2000,A woman,A woman,Some university,NaN,Student and working for pay,NaN,No,Heterosexual,Never Married,5.00,No
14,R_3nNxsyTE4FFk1qD,Canadian citizen,1998,A man,A man,Some university,NaN,Self employed (with or without employees),NaN,No,Heterosexual,Don't know/ Prefer not to answer,4.00,No
15,R_2yscDHNVwXYrmZO,Canadian citizen,2000,A woman,A woman,Completed secondary/ high school,Don't know/ Prefer not to answer,Working for pay part-time,Public sector,No,Heterosexual,Never Married,3.00,No
16,R_1XR26kb471tt8rL,Canadian citizen,2000,A woman,A woman,Completed secondary/ high school,"$60,001 to $90,000",Student,NaN,No,Heterosexual,Never Married,5.00,No
17,R_ABEKO3wGyEEpVy9,Canadian citizen,2000,A woman,A woman,Completed secondary/ high school,"$1 to $30,000",Student,NaN,No,Heterosexual,Never Married,1.00,No
18,R_1plJZdZH9ohyW6i,Canadian citizen,2000,A woman,A woman,Some university,"$30,001 to $60,000",Unemployed/ looking for work,NaN,No,Heterosexual,Never Married,4.00,No
19,R_12r93bwCcrge7qz,Canadian citizen,1998,A woman,A woman,Some university,"$1 to $30,000",Student and working for pay,NaN,No,Heterosexual,Never Married,2.00,No

In [179]:
cps_df[['cps19_property_1', 'cps19_property_2', 'cps19_property_3', 'cps19_property_4', 'cps19_property_5']].isnull().sum()

cps19_property_1    13023
cps19_property_2    34452
cps19_property_3    27205
cps19_property_4    19893
cps19_property_5    31834
dtype: int64

In [180]:
cps_df.drop(['cps19_property_1', 'cps19_property_2', 'cps19_property_3', 'cps19_property_4', 'cps19_property_5'], axis=1, inplace=True)

In [181]:
cps_df.drop(['cps19_income_cat'], axis=1, inplace=True)

In [182]:
cps_df.head()

,cps19_ResponseId,cps19_citizenship,cps19_yob,cps19_gender,cps19_province,cps19_education,cps19_demsat,cps19_imp_iss,cps19_imp_iss_party,cps19_imp_loc_iss,...,cps19_language_84_TEXT,cps19_employment,cps19_employment_12_TEXT,cps19_sector,cps19_union,cps19_children,cps19_income_number,cps19_property_6,cps19_marital,cps19_household
0,R_1OpYXEFGzHRUpjM,Canadian citizen,1989,A woman,Quebec,Master's degree,Fairly satisfied,environnement,Green Party,logement,...,NaN,Don't know/ Prefer not to answer,NaN,NaN,Yes,No,NaN,Don't know/ Prefer not to answer,Don't know/ Prefer not to answer,2.00
1,R_2qdrL3J618rxYW0,Canadian citizen,1998,A woman,Quebec,Master's degree,Don't know/ Prefer not to answer,environnement,Green Party,logement,...,NaN,Student and working for pay,NaN,NaN,Yes,No,NaN,NaN,Living with a partner,2.00
2,R_USWDAPcQEQiMmNb,Canadian citizen,2000,A woman,Ontario,Some university,Fairly satisfied,NaN,NaN,NaN,...,NaN,Student,NaN,NaN,Yes,No,NaN,NaN,Never Married,5.00
3,R_3IQaeDXy0tBzEry,Canadian citizen,1998,A man,Ontario,Some university,Fairly satisfied,strengthening foreign relations,Conservative Party,NaN,...,NaN,Student and working for pay,NaN,NaN,No,No,NaN,NaN,Never Married,6.00
4,R_27WeMQ1asip2cMD,Canadian citizen,2000,A woman,Ontario,Completed secondary/ high school,Fairly satisfied,Taxation and Government Spending,Don't know/ Prefer not to answer,Education,...,NaN,Working for pay part-time,NaN,Private sector,No,No,56000.00,NaN,Never Married,6.00

In [183]:
cps_df['cps19_citizenship'].value_counts()

Canadian citizen      36480
Permanent resident     1342
Name: cps19_citizenship, dtype: int64

In [184]:
cps_df['cps19_pos_carbon'].isnull().sum()

25273

In [185]:
cps_df['cps19_votechoice'].value_counts()

Liberal Party                       8949
Conservative Party                  8713
Don't know/ Prefer not to answer    4908
ndp                                 4328
Green Party                         2456
Bloc Qu<e9>b<e9>cois                1404
People's Party                       605
Another party (please specify)       201
Name: cps19_votechoice, dtype: int64

In [186]:
cps_df['cps19_votechoice'].isnull().sum()

6258

In [187]:
vote_by_income = cps_df[['cps19_votechoice', 'cps19_income_number']]
vote_by_income

                       cps19_votechoice  cps19_income_number
0                           Green Party                  NaN
1      Don't know/ Prefer not to answer                  NaN
2                         Liberal Party                  NaN
3                    Conservative Party                  NaN
4      Don't know/ Prefer not to answer             56000.00
...                                 ...                  ...
37817                     Liberal Party                  NaN
37818                       Green Party             62000.00
37819                               NaN                  NaN
37820                               NaN             50000.00
37821                               NaN                  NaN

[37822 rows x 2 columns]

In [188]:
vote_by_income = vote_by_income.dropna()

In [189]:
no_answer = vote_by_income[(vote_by_income['cps19_votechoice'] == "Don't know/ Prefer not to answer")].index

In [190]:
vote_by_income.drop(no_answer, inplace=True)

In [191]:
vote_by_income

           cps19_votechoice  cps19_income_number
13            Liberal Party             30000.00
14            Liberal Party             16000.00
20                      ndp             13000.00
21       Conservative Party             55000.00
22            Liberal Party           1000000.00
...                     ...                  ...
37810                   ndp             40000.00
37811  Bloc Qu<e9>b<e9>cois             99700.00
37815  Bloc Qu<e9>b<e9>cois            150000.00
37816                   ndp             37500.00
37818           Green Party             62000.00

[19068 rows x 2 columns]

In [192]:
pref_by_income = vote_by_income.groupby(['cps19_votechoice']).mean()['cps19_income_number']
pref_by_income

cps19_votechoice
Another party (please specify)          84054.17
Bloc Qu<e9>b<e9>cois                    87296.73
Conservative Party               160025873730.69
Green Party                            108530.42
Liberal Party                          240864.96
People's Party                       21108732.63
ndp                                     77893.85
Name: cps19_income_number, dtype: float64

In [193]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [194]:
pref_by_income

cps19_votechoice
Another party (please specify)          84054.17
Bloc Qu<e9>b<e9>cois                    87296.73
Conservative Party               160025873730.69
Green Party                            108530.42
Liberal Party                          240864.96
People's Party                       21108732.63
ndp                                     77893.85
Name: cps19_income_number, dtype: float64

In [195]:
vote_by_income.describe()

       cps19_income_number
count             19068.00
mean        52444551060.14
std       7241815033358.10
min                   0.00
25%               45000.00
50%               75000.00
75%              110000.00
max     999999999999999.00

In [196]:
outlier_income = vote_by_income[(vote_by_income['cps19_income_number'] == 999999999999999.0)].index

In [197]:
vote_by_income.drop(outlier_income, inplace=True)

In [198]:
vote_by_income.describe()

       cps19_income_number
count             19067.00
mean             666052.07
std            65010418.17
min                   0.00
25%               45000.00
50%               75000.00
75%              110000.00
max          8889898989.00

In [199]:
cps_df.head()

,cps19_ResponseId,cps19_citizenship,cps19_yob,cps19_gender,cps19_province,cps19_education,cps19_demsat,cps19_imp_iss,cps19_imp_iss_party,cps19_imp_loc_iss,...,cps19_language_84_TEXT,cps19_employment,cps19_employment_12_TEXT,cps19_sector,cps19_union,cps19_children,cps19_income_number,cps19_property_6,cps19_marital,cps19_household
0,R_1OpYXEFGzHRUpjM,Canadian citizen,1989,A woman,Quebec,Master's degree,Fairly satisfied,environnement,Green Party,logement,...,NaN,Don't know/ Prefer not to answer,NaN,NaN,Yes,No,NaN,Don't know/ Prefer not to answer,Don't know/ Prefer not to answer,2.00
1,R_2qdrL3J618rxYW0,Canadian citizen,1998,A woman,Quebec,Master's degree,Don't know/ Prefer not to answer,environnement,Green Party,logement,...,NaN,Student and working for pay,NaN,NaN,Yes,No,NaN,NaN,Living with a partner,2.00
2,R_USWDAPcQEQiMmNb,Canadian citizen,2000,A woman,Ontario,Some university,Fairly satisfied,NaN,NaN,NaN,...,NaN,Student,NaN,NaN,Yes,No,NaN,NaN,Never Married,5.00
3,R_3IQaeDXy0tBzEry,Canadian citizen,1998,A man,Ontario,Some university,Fairly satisfied,strengthening foreign relations,Conservative Party,NaN,...,NaN,Student and working for pay,NaN,NaN,No,No,NaN,NaN,Never Married,6.00
4,R_27WeMQ1asip2cMD,Canadian citizen,2000,A woman,Ontario,Completed secondary/ high school,Fairly satisfied,Taxation and Government Spending,Don't know/ Prefer not to answer,Education,...,NaN,Working for pay part-time,NaN,Private sector,No,No,56000.00,NaN,Never Married,6.00

In [200]:
cps_df.iloc[:, 0:10].head()

,cps19_ResponseId,cps19_citizenship,cps19_yob,cps19_gender,cps19_province,cps19_education,cps19_demsat,cps19_imp_iss,cps19_imp_iss_party,cps19_imp_loc_iss
0,R_1OpYXEFGzHRUpjM,Canadian citizen,1989,A woman,Quebec,Master's degree,Fairly satisfied,environnement,Green Party,logement
1,R_2qdrL3J618rxYW0,Canadian citizen,1998,A woman,Quebec,Master's degree,Don't know/ Prefer not to answer,environnement,Green Party,logement
2,R_USWDAPcQEQiMmNb,Canadian citizen,2000,A woman,Ontario,Some university,Fairly satisfied,NaN,NaN,NaN
3,R_3IQaeDXy0tBzEry,Canadian citizen,1998,A man,Ontario,Some university,Fairly satisfied,strengthening foreign relations,Conservative Party,NaN
4,R_27WeMQ1asip2cMD,Canadian citizen,2000,A woman,Ontario,Completed secondary/ high school,Fairly satisfied,Taxation and Government Spending,Don't know/ Prefer not to answer,Education

In [201]:
cps_df.iloc[:, 0:10].isnull().sum()

cps19_ResponseId           0
cps19_citizenship          0
cps19_yob                  0
cps19_gender               0
cps19_province             0
cps19_education            0
cps19_demsat               0
cps19_imp_iss           7438
cps19_imp_iss_party     7422
cps19_imp_loc_iss      24301
dtype: int64

In [202]:
cps_df.drop(['cps19_imp_loc_iss'], axis=1, inplace=True)

In [203]:
cps_df.iloc[:, 10:20].head()

,cps19_imp_loc_iss_p_7_TEXT,cps19_interest_gen_1,cps19_interest_elxn_1,cps19_v_likely,cps19_v_likely_pr,cps19_votechoice,cps19_votechoice_7_TEXT,cps19_votechoice_pr,cps19_votechoice_pr_7_TEXT,cps19_vote_unlikely
0,NaN,9.00,9.00,Certain to vote,NaN,Green Party,NaN,NaN,NaN,NaN
1,NaN,6.00,6.00,Certain to vote,NaN,Don't know/ Prefer not to answer,NaN,NaN,NaN,NaN
2,NaN,8.00,8.00,Certain to vote,NaN,Liberal Party,NaN,NaN,NaN,NaN
3,NaN,8.00,8.00,Certain to vote,NaN,Conservative Party,NaN,NaN,NaN,NaN
4,NaN,8.00,6.00,Certain to vote,NaN,Don't know/ Prefer not to answer,NaN,NaN,NaN,NaN

In [204]:
cps_df['cps19_vote_unlikely'].value_counts()

Don't know/ Prefer not to answer    328
Liberal Party                       256
Conservative Party                  241
ndp                                 205
Green Party                         175
People's Party                       39
Bloc Qu<e9>b<e9>cois                 38
Another party (please specify)       21
Name: cps19_vote_unlikely, dtype: int64

In [205]:
cps_df.drop(['cps19_vote_unlikely'], axis=1, inplace=True)

In [206]:
cps_df.drop(['cps19_imp_loc_iss_p_7_TEXT'], axis=1, inplace=True)

In [207]:
cps_df.drop(['cps19_v_likely_pr'], axis=1, inplace=True)

In [208]:
cps_df.drop(['cps19_votechoice_7_TEXT'], axis=1, inplace=True)

In [209]:
cps_df.drop(['cps19_votechoice_pr'], axis=1, inplace=True)

In [210]:
cps_df.drop(['cps19_votechoice_pr_7_TEXT'], axis=1, inplace=True)

In [211]:
cps_df.iloc[:, 10:20].head()

,cps19_interest_gen_1,cps19_interest_elxn_1,cps19_v_likely,cps19_votechoice,cps19_vote_unlikely_7_TEXT,cps19_vote_unlike_pr,cps19_vote_unlike_pr_7_TEXT,cps19_v_advance,cps19_v_advance_7_TEXT,cps19_vote_lean
0,9.00,9.00,Certain to vote,Green Party,NaN,NaN,NaN,NaN,NaN,NaN
1,6.00,6.00,Certain to vote,Don't know/ Prefer not to answer,NaN,NaN,NaN,NaN,NaN,NaN
2,8.00,8.00,Certain to vote,Liberal Party,NaN,NaN,NaN,NaN,NaN,NaN
3,8.00,8.00,Certain to vote,Conservative Party,NaN,NaN,NaN,NaN,NaN,NaN
4,8.00,6.00,Certain to vote,Don't know/ Prefer not to answer,NaN,NaN,NaN,NaN,NaN,NaN

In [212]:
cps_df.drop(['cps19_vote_unlikely_7_TEXT', 'cps19_vote_unlike_pr'], axis=1, inplace=True)

In [213]:
cps_df.drop(['cps19_v_advance_7_TEXT'], axis=1, inplace=True)

In [214]:
cps_df.drop(['cps19_vote_lean'], axis=1, inplace=True)

In [215]:
cps_df.drop(['cps19_vote_lean_7_TEXT'], axis=1, inplace=True)

In [216]:
cps_df.iloc[:, 10:20].head()

,cps19_interest_gen_1,cps19_interest_elxn_1,cps19_v_likely,cps19_votechoice,cps19_vote_unlike_pr_7_TEXT,cps19_v_advance,cps19_vote_lean_pr,cps19_vote_lean_pr_7_TEXT,cps19_2nd_choice,cps19_2nd_choice_7_TEXT
0,9.00,9.00,Certain to vote,Green Party,NaN,NaN,NaN,NaN,Liberal Party,NaN
1,6.00,6.00,Certain to vote,Don't know/ Prefer not to answer,NaN,NaN,NaN,NaN,ndp,NaN
2,8.00,8.00,Certain to vote,Liberal Party,NaN,NaN,NaN,NaN,ndp,NaN
3,8.00,8.00,Certain to vote,Conservative Party,NaN,NaN,NaN,NaN,Don't know/ Prefer not to answer,NaN
4,8.00,6.00,Certain to vote,Don't know/ Prefer not to answer,NaN,NaN,NaN,NaN,Don't know/ Prefer not to answer,NaN

In [217]:
cps_df.drop(['cps19_v_advance', 'cps19_vote_lean_pr', 'cps19_2nd_choice_7_TEXT', 'cps19_2nd_choice_pr', 'cps19_2nd_choice_pr_7_TEXT'], axis=1, inplace=True)

In [218]:
cps_df.iloc[:, 10:20].head()

,cps19_interest_gen_1,cps19_interest_elxn_1,cps19_v_likely,cps19_votechoice,cps19_vote_unlike_pr_7_TEXT,cps19_vote_lean_pr_7_TEXT,cps19_2nd_choice,cps19_not_vote_for_1,cps19_not_vote_for_2,cps19_not_vote_for_3
0,9.00,9.00,Certain to vote,Green Party,NaN,NaN,Liberal Party,NaN,Conservative Party,NaN
1,6.00,6.00,Certain to vote,Don't know/ Prefer not to answer,NaN,NaN,ndp,NaN,NaN,NaN
2,8.00,8.00,Certain to vote,Liberal Party,NaN,NaN,ndp,NaN,NaN,NaN
3,8.00,8.00,Certain to vote,Conservative Party,NaN,NaN,Don't know/ Prefer not to answer,NaN,NaN,ndp
4,8.00,6.00,Certain to vote,Don't know/ Prefer not to answer,NaN,NaN,Don't know/ Prefer not to answer,NaN,NaN,NaN

In [219]:
cps_df.drop(['cps19_not_vote_for_1', 'cps19_not_vote_for_2', 'cps19_not_vote_for_3', 'cps19_not_vote_for_4', 'cps19_not_vote_for_5'], axis=1, inplace=True)

In [220]:
cps_df.iloc[:, 10:20].head()

,cps19_interest_gen_1,cps19_interest_elxn_1,cps19_v_likely,cps19_votechoice,cps19_vote_unlike_pr_7_TEXT,cps19_vote_lean_pr_7_TEXT,cps19_2nd_choice,cps19_not_vote_for_6,cps19_not_vote_for_7,cps19_not_vote_for_8
0,9.00,9.00,Certain to vote,Green Party,NaN,NaN,Liberal Party,People's Party,NaN,NaN
1,6.00,6.00,Certain to vote,Don't know/ Prefer not to answer,NaN,NaN,ndp,NaN,NaN,NaN
2,8.00,8.00,Certain to vote,Liberal Party,NaN,NaN,ndp,NaN,NaN,NaN
3,8.00,8.00,Certain to vote,Conservative Party,NaN,NaN,Don't know/ Prefer not to answer,NaN,NaN,NaN
4,8.00,6.00,Certain to vote,Don't know/ Prefer not to answer,NaN,NaN,Don't know/ Prefer not to answer,NaN,NaN,NaN

In [221]:
cps_df.drop(['cps19_not_vote_for_6', 'cps19_not_vote_for_7', 'cps19_not_vote_for_8', 'cps19_not_vote_for_9', 'cps19_not_vote_for_7_TEXT'], axis=1, inplace=True)

In [222]:
cps_df.iloc[:, 10:20].head()

,cps19_interest_gen_1,cps19_interest_elxn_1,cps19_v_likely,cps19_votechoice,cps19_vote_unlike_pr_7_TEXT,cps19_vote_lean_pr_7_TEXT,cps19_2nd_choice,cps19_fed_gov_sat,cps19_party_rating_23,cps19_party_rating_24
0,9.00,9.00,Certain to vote,Green Party,NaN,NaN,Liberal Party,Not very satisfied,52.00,0.00
1,6.00,6.00,Certain to vote,Don't know/ Prefer not to answer,NaN,NaN,ndp,Not very satisfied,51.00,0.00
2,8.00,8.00,Certain to vote,Liberal Party,NaN,NaN,ndp,Fairly satisfied,52.00,49.00
3,8.00,8.00,Certain to vote,Conservative Party,NaN,NaN,Don't know/ Prefer not to answer,Not very satisfied,30.00,85.00
4,8.00,6.00,Certain to vote,Don't know/ Prefer not to answer,NaN,NaN,Don't know/ Prefer not to answer,Not very satisfied,20.00,62.00

In [223]:
cps_df.iloc[:, 30:40].head()

,cps19_cand_rating_23,cps19_cand_rating_24,cps19_cand_rating_25,cps19_cand_rating_26,cps19_cand_rating_27,cps19_cand_rating_28,cps19_lr_scale_bef_1,cps19_lr_parties_1,cps19_lr_parties_2,cps19_lr_parties_3
0,58.00,0.00,69.00,0.00,76.00,0.00,NaN,5.00,9.00,3.00
1,NaN,NaN,64.00,NaN,88.00,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,4.00,3.00,7.00,4.00
3,0.00,80.00,0.00,NaN,0.00,0.00,7.00,5.00,7.00,2.00
4,NaN,NaN,NaN,NaN,NaN,NaN,4.00,4.00,7.00,NaN

In [224]:
cps_df['cps19_lr_scale_bef_1'].value_counts().sum()

14503

In [225]:
cps_df.iloc[:, 40:50].head()

,cps19_lr_parties_4,cps19_lr_parties_5,cps19_lr_parties_6,cps19_lr_scale_aft_1,cps19_lead_int_113,cps19_lead_int_114,cps19_lead_int_115,cps19_lead_int_116,cps19_lead_int_117,cps19_lead_int_118
0,5.00,2.00,10.00,2.00,Justin Trudeau,NaN,Jagmeet Singh,NaN,Elizabeth May,NaN
1,5.00,NaN,NaN,2.00,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,4.00,9.00,NaN,Justin Trudeau,NaN,NaN,NaN,NaN,NaN
3,5.00,4.00,9.00,NaN,NaN,Andrew Scheer,NaN,NaN,NaN,NaN
4,8.00,1.00,7.00,NaN,NaN,Andrew Scheer,Jagmeet Singh,NaN,NaN,NaN

In [226]:
cps_df['cps19_lr_scale_aft_1'].value_counts().sum()

14833

In [227]:
cps_df.loc[(cps_df['cps19_lr_scale_bef_1'].isnull()) & (cps_df['cps19_lr_scale_aft_1'].isnull()), ['cps19_lr_scale_bef_1', 'cps19_lr_scale_aft_1']]

       cps19_lr_scale_bef_1  cps19_lr_scale_aft_1
30                      NaN                   NaN
37                      NaN                   NaN
53                      NaN                   NaN
75                      NaN                   NaN
89                      NaN                   NaN
...                     ...                   ...
37812                   NaN                   NaN
37813                   NaN                   NaN
37814                   NaN                   NaN
37816                   NaN                   NaN
37819                   NaN                   NaN

[8486 rows x 2 columns]

In [228]:
left_right = cps_df[['cps19_lr_scale_bef_1', 'cps19_lr_scale_aft_1']]
left_right.head()

   cps19_lr_scale_bef_1  cps19_lr_scale_aft_1
0                   NaN                  2.00
1                   NaN                  2.00
2                  4.00                   NaN
3                  7.00                   NaN
4                  4.00                   NaN

In [229]:
left_right['cps19_lr_scale_bef_1'][0] = left_right['cps19_lr_scale_aft_1'][0]
left_right.head()

   cps19_lr_scale_bef_1  cps19_lr_scale_aft_1
0                  2.00                  2.00
1                   NaN                  2.00
2                  4.00                   NaN
3                  7.00                   NaN
4                  4.00                   NaN

In [230]:
left_right

       cps19_lr_scale_bef_1  cps19_lr_scale_aft_1
0                      2.00                  2.00
1                       NaN                  2.00
2                      4.00                   NaN
3                      7.00                   NaN
4                      4.00                   NaN
...                     ...                   ...
37817                   NaN                  2.00
37818                  8.00                   NaN
37819                   NaN                   NaN
37820                  3.00                   NaN
37821                   NaN                  6.00

[37822 rows x 2 columns]

In [231]:
left_right.dropna()

   cps19_lr_scale_bef_1  cps19_lr_scale_aft_1
0                  2.00                  2.00

In [232]:
cps_df.iloc[:, 220:230].head()

   cps19_household
0             2.00
1             2.00
2             5.00
3             6.00
4             6.00

In [233]:
cps_df['cps19_sexuality_4_TEXT'].isnull().sum()

37508

In [234]:
cps_df.drop('cps19_sexuality_4_TEXT', axis=1, inplace=True)

In [235]:
cps_df.head()

,cps19_ResponseId,cps19_citizenship,cps19_yob,cps19_gender,cps19_province,cps19_education,cps19_demsat,cps19_imp_iss,cps19_imp_iss_party,cps19_imp_loc_iss_p,...,cps19_language_84_TEXT,cps19_employment,cps19_employment_12_TEXT,cps19_sector,cps19_union,cps19_children,cps19_income_number,cps19_property_6,cps19_marital,cps19_household
0,R_1OpYXEFGzHRUpjM,Canadian citizen,1989,A woman,Quebec,Master's degree,Fairly satisfied,environnement,Green Party,ndp,...,NaN,Don't know/ Prefer not to answer,NaN,NaN,Yes,No,NaN,Don't know/ Prefer not to answer,Don't know/ Prefer not to answer,2.00
1,R_2qdrL3J618rxYW0,Canadian citizen,1998,A woman,Quebec,Master's degree,Don't know/ Prefer not to answer,environnement,Green Party,ndp,...,NaN,Student and working for pay,NaN,NaN,Yes,No,NaN,NaN,Living with a partner,2.00
2,R_USWDAPcQEQiMmNb,Canadian citizen,2000,A woman,Ontario,Some university,Fairly satisfied,NaN,NaN,NaN,...,NaN,Student,NaN,NaN,Yes,No,NaN,NaN,Never Married,5.00
3,R_3IQaeDXy0tBzEry,Canadian citizen,1998,A man,Ontario,Some university,Fairly satisfied,strengthening foreign relations,Conservative Party,NaN,...,NaN,Student and working for pay,NaN,NaN,No,No,NaN,NaN,Never Married,6.00
4,R_27WeMQ1asip2cMD,Canadian citizen,2000,A woman,Ontario,Completed secondary/ high school,Fairly satisfied,Taxation and Government Spending,Don't know/ Prefer not to answer,Conservative Party,...,NaN,Working for pay part-time,NaN,Private sector,No,No,56000.00,NaN,Never Married,6.00

In [236]:
cps_df['cps19_citizenship'].value_counts()

Canadian citizen      36480
Permanent resident     1342
Name: cps19_citizenship, dtype: int64

In [237]:
cps_df.drop(cps_df[cps_df['cps19_citizenship'] == 'Permanent resident'].index, inplace=True)

In [238]:
cps_df['cps19_citizenship'].value_counts()

Canadian citizen    36480
Name: cps19_citizenship, dtype: int64

In [239]:
cps_df.drop('cps19_imp_loc_iss_p', axis=1, inplace=True)

In [240]:
cps_df.iloc[:, 0:10].isnull().sum()

cps19_ResponseId           0
cps19_citizenship          0
cps19_yob                  0
cps19_gender               0
cps19_province             0
cps19_education            0
cps19_demsat               0
cps19_imp_iss           6979
cps19_imp_iss_party     6963
cps19_interest_gen_1    2324
dtype: int64

In [241]:
cps_df.iloc[:, 10:20].head()

,cps19_interest_elxn_1,cps19_v_likely,cps19_votechoice,cps19_vote_unlike_pr_7_TEXT,cps19_vote_lean_pr_7_TEXT,cps19_2nd_choice,cps19_fed_gov_sat,cps19_party_rating_23,cps19_party_rating_24,cps19_party_rating_25
0,9.00,Certain to vote,Green Party,NaN,NaN,Liberal Party,Not very satisfied,52.00,0.00,64.00
1,6.00,Certain to vote,Don't know/ Prefer not to answer,NaN,NaN,ndp,Not very satisfied,51.00,0.00,64.00
2,8.00,Certain to vote,Liberal Party,NaN,NaN,ndp,Fairly satisfied,52.00,49.00,NaN
3,8.00,Certain to vote,Conservative Party,NaN,NaN,Don't know/ Prefer not to answer,Not very satisfied,30.00,85.00,0.00
4,6.00,Certain to vote,Don't know/ Prefer not to answer,NaN,NaN,Don't know/ Prefer not to answer,Not very satisfied,20.00,62.00,51.00

In [242]:
cps_df.drop('cps19_vote_unlike_pr_7_TEXT', axis=1, inplace=True)

In [243]:
cps_df.drop('cps19_vote_lean_pr_7_TEXT', axis=1, inplace=True)

In [244]:
cps_df.iloc[:, 10:20].head()

,cps19_interest_elxn_1,cps19_v_likely,cps19_votechoice,cps19_2nd_choice,cps19_fed_gov_sat,cps19_party_rating_23,cps19_party_rating_24,cps19_party_rating_25,cps19_party_rating_26,cps19_party_rating_27
0,9.00,Certain to vote,Green Party,Liberal Party,Not very satisfied,52.00,0.00,64.00,NaN,97.00
1,6.00,Certain to vote,Don't know/ Prefer not to answer,ndp,Not very satisfied,51.00,0.00,64.00,40.00,88.00
2,8.00,Certain to vote,Liberal Party,ndp,Fairly satisfied,52.00,49.00,NaN,NaN,NaN
3,8.00,Certain to vote,Conservative Party,Don't know/ Prefer not to answer,Not very satisfied,30.00,85.00,0.00,0.00,0.00
4,6.00,Certain to vote,Don't know/ Prefer not to answer,Don't know/ Prefer not to answer,Not very satisfied,20.00,62.00,51.00,20.00,50.00

In [245]:
cps_df.iloc[:, 20:30].head()

,cps19_party_rating_28,cps19_lead_rating_23,cps19_lead_rating_24,cps19_lead_rating_25,cps19_lead_rating_26,cps19_lead_rating_27,cps19_lead_rating_28,cps19_cand_rating_23,cps19_cand_rating_24,cps19_cand_rating_25
0,0.00,55.00,0.00,71.00,15.00,80.00,0.00,58.00,0.00,69.00
1,0.00,53.00,0.00,NaN,32.00,59.00,0.00,NaN,NaN,64.00
2,NaN,74.00,24.00,63.00,NaN,56.00,20.00,NaN,NaN,NaN
3,30.00,0.00,80.00,0.00,0.00,0.00,10.00,0.00,80.00,0.00
4,20.00,30.00,60.00,NaN,50.00,60.00,30.00,NaN,NaN,NaN

In [246]:
cps_df.iloc[:, 30:40].head()

,cps19_cand_rating_26,cps19_cand_rating_27,cps19_cand_rating_28,cps19_lr_scale_bef_1,cps19_lr_parties_1,cps19_lr_parties_2,cps19_lr_parties_3,cps19_lr_parties_4,cps19_lr_parties_5,cps19_lr_parties_6
0,0.00,76.00,0.00,NaN,5.00,9.00,3.00,5.00,2.00,10.00
1,NaN,88.00,NaN,NaN,NaN,NaN,NaN,5.00,NaN,NaN
2,NaN,NaN,NaN,4.00,3.00,7.00,4.00,NaN,4.00,9.00
3,NaN,0.00,0.00,7.00,5.00,7.00,2.00,5.00,4.00,9.00
4,NaN,NaN,NaN,4.00,4.00,7.00,NaN,8.00,1.00,7.00

In [247]:
cps_df.iloc[:, 40:50].head()

,cps19_lr_scale_aft_1,cps19_lead_int_113,cps19_lead_int_114,cps19_lead_int_115,cps19_lead_int_116,cps19_lead_int_117,cps19_lead_int_118,cps19_lead_int_119,cps19_lead_int_120,cps19_lead_strong_113
0,2.00,Justin Trudeau,NaN,Jagmeet Singh,NaN,Elizabeth May,NaN,NaN,NaN,Justin Trudeau
1,2.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Don't know/ Prefer not to answer,NaN
2,NaN,Justin Trudeau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Justin Trudeau
3,NaN,NaN,Andrew Scheer,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,Andrew Scheer,Jagmeet Singh,NaN,NaN,NaN,NaN,NaN,NaN

In [248]:
for ind in cps_df.index:
    if pd.isnull(cps_df['cps19_lr_scale_bef_1'][ind]) and pd.notnull(cps_df['cps19_lr_scale_aft_1'][ind]):
        cps_df['cps19_lr_scale_bef_1'][ind] = cps_df['cps19_lr_scale_aft_1'][ind]

In [249]:
cps_df.drop('cps19_lr_scale_aft_1', axis=1, inplace=True)

In [250]:
cps_df.rename(columns = {'cps19_lr_scale_bef_1': 'cps19_lr_scale'}, inplace=True)

In [251]:
cps_df.iloc[:, 30:40].head()

,cps19_cand_rating_26,cps19_cand_rating_27,cps19_cand_rating_28,cps19_lr_scale,cps19_lr_parties_1,cps19_lr_parties_2,cps19_lr_parties_3,cps19_lr_parties_4,cps19_lr_parties_5,cps19_lr_parties_6
0,0.00,76.00,0.00,2.00,5.00,9.00,3.00,5.00,2.00,10.00
1,NaN,88.00,NaN,2.00,NaN,NaN,NaN,5.00,NaN,NaN
2,NaN,NaN,NaN,4.00,3.00,7.00,4.00,NaN,4.00,9.00
3,NaN,0.00,0.00,7.00,5.00,7.00,2.00,5.00,4.00,9.00
4,NaN,NaN,NaN,4.00,4.00,7.00,NaN,8.00,1.00,7.00

In [252]:
cps_df.iloc[:, 50:60].head()

,cps19_lead_strong_115,cps19_lead_strong_116,cps19_lead_strong_117,cps19_lead_strong_118,cps19_lead_strong_119,cps19_lead_strong_120,cps19_lead_trust_113,cps19_lead_trust_114,cps19_lead_trust_115,cps19_lead_trust_116
0,NaN,NaN,Elizabeth May,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,Don't know/ Prefer not to answer,NaN,NaN,NaN,NaN
2,Jagmeet Singh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Andrew Scheer,NaN,NaN
4,Jagmeet Singh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [253]:
cps_df.iloc[:, 60:70].head()

,cps19_lead_trust_117,cps19_lead_trust_118,cps19_lead_trust_119,cps19_lead_trust_120,cps19_lead_cares_113,cps19_lead_cares_114,cps19_lead_cares_115,cps19_lead_cares_116,cps19_lead_cares_117,cps19_lead_cares_118
0,Elizabeth May,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,None of these,NaN,NaN,NaN,NaN,NaN,Elizabeth May,NaN
2,NaN,NaN,NaN,Don't know/ Prefer not to answer,NaN,NaN,Jagmeet Singh,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,Justin Trudeau,Andrew Scheer,Jagmeet Singh,NaN,NaN,NaN
4,NaN,NaN,NaN,Don't know/ Prefer not to answer,NaN,NaN,Jagmeet Singh,NaN,NaN,NaN

In [254]:
cps_df.shape

(36480, 216)

In [255]:
cps_df.iloc[:, 70:80].head()

,cps19_lead_cares_119,cps19_lead_cares_120,cps19_spend_educ,cps19_spend_env,cps19_spend_just_law,cps19_spend_defence,cps19_spend_imm_min,cps19_pos_fptp,cps19_pos_life,cps19_pos_cannabis
0,NaN,Don't know/ Prefer not to answer,Don't know/ Prefer not to answer,Don't know/ Prefer not to answer,Don't know/ Prefer not to answer,Don't know/ Prefer not to answer,Don't know/ Prefer not to answer,NaN,NaN,NaN
1,NaN,NaN,Spend more,Spend more,Spend less,Spend less,Spend more,NaN,Strongly agree,NaN
2,NaN,NaN,Spend more,Spend more,Spend more,Spend about the same as now,Spend more,Somewhat agree,NaN,NaN
3,NaN,NaN,Spend about the same as now,Spend about the same as now,Spend more,Spend more,Spend about the same as now,NaN,Strongly agree,Strongly disagree
4,NaN,NaN,Spend more,Spend more,Spend about the same as now,Spend about the same as now,Spend more,NaN,Strongly disagree,Somewhat disagree

In [256]:
cps_df[['cps19_spend_educ', 'cps19_spend_env', 'cps19_spend_just_law', 'cps19_spend_defence', 'cps19_spend_imm_min']].isnull().sum()

cps19_spend_educ        0
cps19_spend_env         0
cps19_spend_just_law    0
cps19_spend_defence     0
cps19_spend_imm_min     0
dtype: int64

In [257]:
cps_df[['cps19_pos_fptp', 'cps19_pos_life', 'cps19_pos_cannabis']].isnull().sum()

cps19_pos_fptp        24313
cps19_pos_life        24294
cps19_pos_cannabis    24517
dtype: int64

In [258]:
cps_df.iloc[:, 80:90].head()

,cps19_pos_carbon,cps19_pos_energy,cps19_pos_envreg,cps19_pos_jobs,cps19_pos_subsid,cps19_pos_trade,cps19_econ_retro,cps19_econ_fed,cps19_ownfinanc_fed,cps19_issue_handle_1
0,Strongly agree,NaN,Strongly agree,Strongly disagree,NaN,NaN,Stayed about the same,Don't know/ Prefer not to answer,Don't know/ Prefer not to answer,NaN
1,NaN,NaN,Strongly agree,NaN,Somewhat agree,NaN,Stayed about the same,Not made much difference,Not made much difference,NaN
2,Somewhat disagree,NaN,NaN,Somewhat agree,NaN,NaN,Don't know/ Prefer not to answer,Worse,Not made much difference,NaN
3,NaN,NaN,NaN,NaN,NaN,Somewhat agree,Got worse,Worse,Not made much difference,NaN
4,NaN,Strongly agree,NaN,NaN,NaN,NaN,Got worse,Don't know/ Prefer not to answer,Worse,NaN

In [259]:
cps_df.drop(['cps19_pos_carbon', 'cps19_pos_energy', 'cps19_pos_envreg', 'cps19_pos_jobs', 'cps19_pos_subsid', 'cps19_pos_trade'], axis=1, inplace=True)

In [260]:
cps_df[['cps19_econ_retro', 'cps19_econ_fed', 'cps19_ownfinanc_fed']].isnull().sum()

cps19_econ_retro       0
cps19_econ_fed         0
cps19_ownfinanc_fed    0
dtype: int64

In [261]:
cps_df.iloc[:, 80:90].head()

,cps19_econ_retro,cps19_econ_fed,cps19_ownfinanc_fed,cps19_issue_handle_1,cps19_issue_handle_2,cps19_issue_handle_3,cps19_issue_handle_4,cps19_issue_handle_5,cps19_issue_handle_6,cps19_issue_handle_7
0,Stayed about the same,Don't know/ Prefer not to answer,Don't know/ Prefer not to answer,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Stayed about the same,Not made much difference,Not made much difference,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Don't know/ Prefer not to answer,Worse,Not made much difference,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Got worse,Worse,Not made much difference,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Got worse,Don't know/ Prefer not to answer,Worse,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [262]:
cps_df.drop(['cps19_issue_handle_1', 'cps19_issue_handle_2', 'cps19_issue_handle_3', 'cps19_issue_handle_4', 'cps19_issue_handle_5'], axis=1, inplace=True)

In [263]:
cps_df.iloc[:, 80:90].head()

,cps19_econ_retro,cps19_econ_fed,cps19_ownfinanc_fed,cps19_issue_handle_6,cps19_issue_handle_7,cps19_issue_handle_8,cps19_most_seats_1,cps19_most_seats_2,cps19_most_seats_3,cps19_most_seats_4
0,Stayed about the same,Don't know/ Prefer not to answer,Don't know/ Prefer not to answer,NaN,NaN,NaN,59.00,54.00,46.00,0.00
1,Stayed about the same,Not made much difference,Not made much difference,NaN,NaN,NaN,54.00,NaN,57.00,NaN
2,Don't know/ Prefer not to answer,Worse,Not made much difference,NaN,NaN,NaN,86.00,79.00,62.00,19.00
3,Got worse,Worse,Not made much difference,NaN,NaN,NaN,60.00,70.00,0.00,0.00
4,Got worse,Don't know/ Prefer not to answer,Worse,NaN,NaN,NaN,80.00,65.00,75.00,20.00

In [264]:
cps_df.drop(['cps19_issue_handle_6', 'cps19_issue_handle_7', 'cps19_issue_handle_8', 'cps19_most_seats_1', 
            'cps19_most_seats_2', 'cps19_most_seats_3', 'cps19_most_seats_4'], axis=1, inplace=True)

In [265]:
cps_df.iloc[:, 80:90].head()

,cps19_econ_retro,cps19_econ_fed,cps19_ownfinanc_fed,cps19_most_seats_5,cps19_most_seats_6,cps19_win_local_1,cps19_win_local_2,cps19_win_local_3,cps19_win_local_4,cps19_win_local_5
0,Stayed about the same,Don't know/ Prefer not to answer,Don't know/ Prefer not to answer,50.00,0.00,NaN,NaN,57.00,NaN,NaN
1,Stayed about the same,Not made much difference,Not made much difference,55.00,NaN,NaN,NaN,70.00,NaN,NaN
2,Don't know/ Prefer not to answer,Worse,Not made much difference,32.00,45.00,NaN,NaN,NaN,NaN,NaN
3,Got worse,Worse,Not made much difference,0.00,0.00,0.00,100.00,0.00,NaN,0.00
4,Got worse,Don't know/ Prefer not to answer,Worse,0.00,20.00,90.00,0.00,80.00,NaN,0.00

In [266]:
cps_df.drop(['cps19_most_seats_5', 'cps19_most_seats_6', 'cps19_win_local_1', 'cps19_win_local_2', 'cps19_win_local_3',
            'cps19_win_local_4', 'cps19_win_local_5'], axis=1, inplace=True)

In [267]:
cps_df.iloc[:, 80:90].head()

,cps19_econ_retro,cps19_econ_fed,cps19_ownfinanc_fed,cps19_win_local_6,cps19_outcome_most,cps19_outcome_most_14_TEXT,cps19_outcome_least,cps19_outcome_least_14_TEXT,cps19_imm,cps19_refugees
0,Stayed about the same,Don't know/ Prefer not to answer,Don't know/ Prefer not to answer,NaN,NaN,NaN,NaN,NaN,More immigrants,More refugees
1,Stayed about the same,Not made much difference,Not made much difference,NaN,Liberal minority,NaN,Conservative majority,NaN,About the same number of immigrants as now,About the same number of refugees as now
2,Don't know/ Prefer not to answer,Worse,Not made much difference,NaN,NaN,NaN,NaN,NaN,About the same number of immigrants as now,About the same number of refugees as now
3,Got worse,Worse,Not made much difference,30.00,Conservative majority,NaN,NDP majority,NaN,About the same number of immigrants as now,About the same number of refugees as now
4,Got worse,Don't know/ Prefer not to answer,Worse,0.00,NaN,NaN,NaN,NaN,More immigrants,About the same number of refugees as now

In [268]:
cps_df.drop(['cps19_win_local_6', 'cps19_outcome_most', 'cps19_outcome_most_14_TEXT', 'cps19_outcome_least', 'cps19_outcome_least_14_TEXT'], axis=1, inplace=True)

In [269]:
cps_df['cps19_imm'].isnull().sum()

0

In [270]:
cps_df.iloc[:, 80:90].head()

,cps19_econ_retro,cps19_econ_fed,cps19_ownfinanc_fed,cps19_imm,cps19_refugees,cps19_govt_confusing,cps19_govt_say,cps19_pol_eth,cps19_lib_promises,cps19_snclav
0,Stayed about the same,Don't know/ Prefer not to answer,Don't know/ Prefer not to answer,More immigrants,More refugees,Don't know/ Prefer not to answer,Don't know/ Prefer not to answer,Don't know/ Prefer not to answer,Don't know/ Prefer not to answer,Don't know/ Prefer not to answer
1,Stayed about the same,Not made much difference,Not made much difference,About the same number of immigrants as now,About the same number of refugees as now,Somewhat disagree,Strongly disagree,Strongly agree,Somewhat disagree,Not at all well
2,Don't know/ Prefer not to answer,Worse,Not made much difference,About the same number of immigrants as now,About the same number of refugees as now,Somewhat disagree,Somewhat agree,Somewhat agree,Somewhat disagree,Not very well
3,Got worse,Worse,Not made much difference,About the same number of immigrants as now,About the same number of refugees as now,Somewhat disagree,Somewhat disagree,Somewhat agree,Somewhat agree,Not at all well
4,Got worse,Don't know/ Prefer not to answer,Worse,More immigrants,About the same number of refugees as now,Somewhat agree,Somewhat agree,Strongly agree,Strongly disagree,Not very well

In [271]:
cps_df[['cps19_refugees', 'cps19_govt_confusing', 'cps19_govt_say', 'cps19_pol_eth', 'cps19_lib_promises', 'cps19_snclav']].isnull().sum()

cps19_refugees          0
cps19_govt_confusing    0
cps19_govt_say          0
cps19_pol_eth           0
cps19_lib_promises      0
cps19_snclav            0
dtype: int64

In [272]:
cps_df.iloc[:, 90:100].head()

,cps19_news_cons,cps19_volunteer,cps19_duty_choice,cps19_quebec_sov,cps19_own_fin_retro,cps19_premier_name,cps19_finmin_name,cps19_govgen_name,cps19_presrus_name,cps19_prov_gov_sat
0,NaN,Don't know/ Prefer not to answer,Don't know/ Prefer not to answer,Don't know/ Prefer not to answer,Don't know/ Prefer not to answer,Legault,NaN,NaN,NaN,Not at all satisfied
1,NaN,A few times,Duty,Don't know/ Prefer not to answer,Stayed about the same,legault,Morneau,payette,poutine,Not at all satisfied
2,NaN,A few times,Duty,NaN,Stayed about the same,Doug Ford,NaN,Julie Payette,Putin,Not very satisfied
3,NaN,Don't know/ Prefer not to answer,Duty,NaN,Stayed about the same,Doug Ford,Bill Morneau,NaN,NaN,Fairly satisfied
4,1-10 minutes,More than five times,Duty,NaN,Got worse,Doug Ford,NaN,NaN,NaN,Fairly satisfied

In [273]:
cps_df['cps19_news_cons'].isnull().sum()

18417

In [274]:
cps_df.iloc[:, 90:100].isnull().sum()

cps19_news_cons        18417
cps19_volunteer            0
cps19_duty_choice          0
cps19_quebec_sov       28284
cps19_own_fin_retro        0
cps19_premier_name      8072
cps19_finmin_name      24736
cps19_govgen_name      29217
cps19_presrus_name     22502
cps19_prov_gov_sat         0
dtype: int64

In [275]:
cps_df.drop(['cps19_news_cons', 'cps19_quebec_sov', 'cps19_premier_name', 'cps19_finmin_name', 'cps19_govgen_name',
            'cps19_presrus_name'], axis=1, inplace=True)

In [276]:
cps_df.iloc[:, 90:100].head()

,cps19_volunteer,cps19_duty_choice,cps19_own_fin_retro,cps19_prov_gov_sat,cps19_fed_id,cps19_fed_id_7_TEXT,cps19_fed_id_str,cps19_prov_id,cps19_prov_id_295_TEXT,cps19_prov_id_str
0,Don't know/ Prefer not to answer,Don't know/ Prefer not to answer,Don't know/ Prefer not to answer,Not at all satisfied,Don't know/ Prefer not to answer,NaN,NaN,Don't know/ Prefer not to answer,NaN,NaN
1,A few times,Duty,Stayed about the same,Not at all satisfied,Green,NaN,Fairly strongly,Qu<e9>bec Solidaire,NaN,Fairly strongly
2,A few times,Duty,Stayed about the same,Not very satisfied,Liberal,NaN,Fairly strongly,Liberal,NaN,Fairly strongly
3,Don't know/ Prefer not to answer,Duty,Stayed about the same,Fairly satisfied,Conservative,NaN,Fairly strongly,Progressive Conservative,NaN,Fairly strongly
4,More than five times,Duty,Got worse,Fairly satisfied,Conservative,NaN,Don't know/ Prefer not to answer,Liberal,NaN,Don't know/ Prefer not to answer

In [277]:
cps_df.drop(['cps19_fed_id', 'cps19_fed_id_7_TEXT', 'cps19_fed_id_str', 'cps19_prov_id', 'cps19_prov_id_295_TEXT',
            'cps19_prov_id_str'], axis=1, inplace=True)

In [278]:
cps_df.iloc[:, 90:100].head()

,cps19_volunteer,cps19_duty_choice,cps19_own_fin_retro,cps19_prov_gov_sat,cps19_party_member_36,cps19_party_member_37,cps19_party_member_38,cps19_party_member_39,cps19_party_member_40,cps19_fed_member
0,Don't know/ Prefer not to answer,Don't know/ Prefer not to answer,Don't know/ Prefer not to answer,Not at all satisfied,NaN,NaN,NaN,NaN,Don't know/ Prefer not to answer,NaN
1,A few times,Duty,Stayed about the same,Not at all satisfied,NaN,NaN,NaN,None of the above,NaN,NaN
2,A few times,Duty,Stayed about the same,Not very satisfied,NaN,NaN,NaN,NaN,Don't know/ Prefer not to answer,NaN
3,Don't know/ Prefer not to answer,Duty,Stayed about the same,Fairly satisfied,A dues-paying member of a federal political party,NaN,NaN,NaN,NaN,Conservative Party
4,More than five times,Duty,Got worse,Fairly satisfied,NaN,NaN,NaN,None of the above,NaN,NaN

In [279]:
cps_df.drop(['cps19_party_member_36', 'cps19_party_member_37', 'cps19_party_member_38', 'cps19_party_member_39',
            'cps19_party_member_40', 'cps19_fed_member'], axis=1, inplace=True)

In [280]:
cps_df.iloc[:, 90:100].head()

,cps19_volunteer,cps19_duty_choice,cps19_own_fin_retro,cps19_prov_gov_sat,cps19_fed_member_62_TEXT,cps19_prov_member,cps19_prov_member_295_TEXT,cps19_fed_donate,cps19_groups_therm_1,cps19_groups_therm_2
0,Don't know/ Prefer not to answer,Don't know/ Prefer not to answer,Don't know/ Prefer not to answer,Not at all satisfied,NaN,NaN,NaN,Don't know/ Prefer not to answer,NaN,NaN
1,A few times,Duty,Stayed about the same,Not at all satisfied,NaN,NaN,NaN,No,100.00,100.00
2,A few times,Duty,Stayed about the same,Not very satisfied,NaN,NaN,NaN,No,75.00,75.00
3,Don't know/ Prefer not to answer,Duty,Stayed about the same,Fairly satisfied,NaN,NaN,NaN,No,80.00,80.00
4,More than five times,Duty,Got worse,Fairly satisfied,NaN,NaN,NaN,No,90.00,80.00

In [281]:
cps_df.drop(['cps19_fed_member_62_TEXT', 'cps19_prov_member', 'cps19_prov_member_295_TEXT', 'cps19_fed_donate'], axis=1, inplace=True)

In [282]:
cps_df['cps19_groups_therm_1'].isnull().sum()

6484

In [283]:
cps_df.iloc[:, 90:100].isnull().sum()

cps19_volunteer             0
cps19_duty_choice           0
cps19_own_fin_retro         0
cps19_prov_gov_sat          0
cps19_groups_therm_1     6484
cps19_groups_therm_2     6057
cps19_groups_therm_3     6558
cps19_groups_therm_4     5960
cps19_groups_therm_5     5603
cps19_spoil             10056
dtype: int64

In [284]:
cps_df.drop('cps19_spoil', axis=1, inplace=True)

In [285]:
cps_df.iloc[:, 90:100].isnull().sum()

cps19_volunteer            0
cps19_duty_choice          0
cps19_own_fin_retro        0
cps19_prov_gov_sat         0
cps19_groups_therm_1    6484
cps19_groups_therm_2    6057
cps19_groups_therm_3    6558
cps19_groups_therm_4    5960
cps19_groups_therm_5    5603
cps19_turnout_2015         0
dtype: int64

In [286]:
cps_df.iloc[:, 100:110].isnull().sum()

cps19_vote_2015            6536
cps19_vote_2015_6_TEXT    36342
cps19_debate_en           21767
cps19_debate_fr           23970
cps19_religion                0
cps19_religion_22_TEXT    35295
cps19_rel_imp              9591
cps19_bornin_canada           0
cps19_bornin_other        31555
cps19_imm_year            31555
dtype: int64

In [287]:
cps_df.drop(['cps19_vote_2015_6_TEXT', 'cps19_debate_en', 'cps19_debate_fr', 'cps19_religion_22_TEXT', 'cps19_rel_imp',
            'cps19_bornin_other', 'cps19_imm_year'], axis=1, inplace=True)

In [288]:
cps_df.iloc[:, 100:110].head()

,cps19_vote_2015,cps19_religion,cps19_bornin_canada,cps19_ethnicity_23,cps19_ethnicity_24,cps19_ethnicity_25,cps19_ethnicity_26,cps19_ethnicity_27,cps19_ethnicity_28,cps19_ethnicity_29
0,NaN,Don't know/ Prefer not to answer,Don't know/ Prefer not to say,NaN,NaN,NaN,NaN,NaN,NaN,French Canadian
1,Green Party,Catholic/ Roman Catholic/ RC,Yes,NaN,NaN,NaN,NaN,NaN,NaN,French Canadian
2,NaN,Catholic/ Roman Catholic/ RC,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Jewish/ Judaism/ Jewish Orthodox,Yes,NaN,British,NaN,NaN,NaN,NaN,NaN
4,NaN,Catholic/ Roman Catholic/ RC,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [289]:
cps_df['cps19_ethnicity_23'].fillna('No', inplace=True)

In [290]:
cps_df['cps19_ethnicity_23'].value_counts()

No                           34791
Aboriginal/ First Nations     1689
Name: cps19_ethnicity_23, dtype: int64

In [291]:
cps_df.rename(columns = {
    'cps19_ethnicity_23': 'cps19_ethnicity_first_nat',
    'cps19_ethnicity_24': 'cps19_ethnicity_british',
    'cps19_ethnicity_25': 'cps19_ethnicity_chinese',
    }, inplace=True)

In [292]:
cps_df.rename(columns = {
    'cps19_ethnicity_26': 'cps19_ethnicity_dutch',
    'cps19_ethnicity_27': 'cps19_ethnicity_english',
    'cps19_ethnicity_29': 'cps19_ethnicity_french_can',
    'cps19_ethnicity_30': 'cps19_ethnicity_german',
    'cps19_ethnicity_31': 'cps19_ethnicity_hispanic',
    'cps19_ethnicity_32': 'cps19_ethnicity_indian',
    'cps19_ethnicity_33': 'cps19_ethnicity_inuk_inuit',
    'cps19_ethnicity_34': 'cps19_ethnicity_irish',
    'cps19_ethnicity_35': 'cps19_ethnicity_italian',
    'cps19_ethnicity_36': 'cps19_ethnicity_metis',
    'cps19_ethnicity_37': 'cps19_ethnicity_polish',
    'cps19_ethnicity_38': 'cps19_ethnicity_quebecois',
    'cps19_ethnicity_39': 'cps19_ethnicity_scottish',
    'cps19_ethnicity_40': 'cps19_ethnicity_ukranian',
    'cps19_ethnicity_41': 'cps19_ethnicity_other1',
    'cps19_ethnicity_42': 'cps19_ethnicity_other2'
    }, inplace=True)

In [297]:
cps_df.iloc[:, 100:110].head()

,cps19_vote_2015,cps19_religion,cps19_bornin_canada,cps19_ethnicity_first_nat,cps19_ethnicity_british,cps19_ethnicity_chinese,cps19_ethnicity_dutch,cps19_ethnicity_english,cps19_ethnicity_28,cps19_ethnicity_french_can
0,NaN,Don't know/ Prefer not to answer,Don't know/ Prefer not to say,No,No,No,No,No,No,French Canadian
1,Green Party,Catholic/ Roman Catholic/ RC,Yes,No,No,No,No,No,No,French Canadian
2,NaN,Catholic/ Roman Catholic/ RC,Yes,No,No,No,No,No,No,No
3,NaN,Jewish/ Judaism/ Jewish Orthodox,Yes,No,British,No,No,No,No,No
4,NaN,Catholic/ Roman Catholic/ RC,Yes,No,No,No,No,No,No,No

In [296]:
for column in cps_df.columns:
    if 'ethnicity' in column:
        cps_df[column].fillna('No', inplace=True)

In [298]:
cps_df.iloc[:, 110:120].head()

,cps19_ethnicity_german,cps19_ethnicity_hispanic,cps19_ethnicity_indian,cps19_ethnicity_inuk_inuit,cps19_ethnicity_irish,cps19_ethnicity_italian,cps19_ethnicity_metis,cps19_ethnicity_polish,cps19_ethnicity_quebecois,cps19_ethnicity_scottish
0,No,No,No,No,No,No,No,No,No,No
1,No,No,No,No,Irish,No,No,No,Qu<e9>b<e9>cois,Scottish
2,No,No,No,No,No,Italian,No,No,No,No
3,No,No,No,No,No,Italian,No,No,No,No
4,No,No,No,No,No,No,No,No,No,No

In [299]:
cps_df.iloc[:, 120:130].head()

,cps19_ethnicity_ukranian,cps19_ethnicity_other1,cps19_ethnicity_other2,cps19_ethnicity_43,cps19_ethnicity_41_TEXT,cps19_ethnicity_42_TEXT,cps19_sexuality,cps19_language_68,cps19_language_69,cps19_language_70
0,No,No,No,No,No,No,Prefer not to say,NaN,NaN,NaN
1,No,No,No,No,No,No,Prefer not to say,English,French,NaN
2,No,No,No,No,No,No,Heterosexual,English,NaN,NaN
3,No,No,No,No,No,No,Heterosexual,English,NaN,NaN
4,No,Other 1 (please specify),No,No,Filipino,No,Heterosexual,English,French,NaN

In [301]:
cps_df.drop(['cps19_ethnicity_other1', 'cps19_ethnicity_other2'], axis=1, inplace=True)

In [302]:
cps_df.rename(columns= {'cps19_ethnicity_43': 'cps19_ethnicity_no_answer'}, inplace=True)b

In [304]:
for column in cps_df.columns:
    if 'language' in column:
        print(column)

cps19_language_68
cps19_language_69
cps19_language_70
cps19_language_71
cps19_language_72
cps19_language_73
cps19_language_74
cps19_language_75
cps19_language_76
cps19_language_77
cps19_language_78
cps19_language_79
cps19_language_80
cps19_language_81
cps19_language_82
cps19_language_83
cps19_language_84
cps19_language_85
cps19_language_70_TEXT
cps19_language_84_TEXT

In [305]:
cps_df.rename(columns = {
    'cps19_language_68': 'cps19_language_english',
    'cps19_language_69': 'cps19_language_french',
    'cps19_language_70_TEXT': 'cps19_language_aborginal',
    'cps19_language_71': 'cps19_language_arabic',
    'cps19_language_72': 'cps19_languague_chinese',
    'cps19_language_73': 'cps19_language_filipino',
    'cps19_language_74': 'cps19_language_german',
    'cps19_language_75': 'cps19_language_indian',
    'cps19_language_76': 'cps19_language_italian',
    'cps19_language_77': 'cps19_language_korean',
    'cps19_language_78': 'cps19_language_pakistani',
    'cps19_language_79': 'cps19_language_persian',
    'cps19_language_80': 'cps19_language_russian',
    'cps19_language_81': 'cps19_language_spanish',
    'cps19_language_82': 'cps19_language_tamil',
    'cps19_language_83': 'cps19_language_vietnamese',
    'cps19_language_84_TEXT': 'cps_19_language_other'
}, inplace=True)

In [306]:
for column in cps_df.columns:
    if 'language' in column:
        cps_df[column].fillna('No', inplace=True)

In [309]:
cps_df.drop(['cps19_language_70', 'cps19_language_84'], axis=1, inplace=True)

In [310]:
cps_df.rename({'cps19_language_85': 'cps19_language_no_answer'}, axis=1, inplace=True)

In [314]:
cps_df.iloc[:, 140:150].isnull().sum()

cps19_language_no_answer        0
cps19_language_aborginal        0
cps_19_language_other           0
cps19_employment                0
cps19_employment_12_TEXT    36061
cps19_sector                17738
cps19_union                     0
cps19_children                  0
cps19_income_number         11719
cps19_property_6            35078
dtype: int64

In [315]:
cps_df['cps19_employment'].value_counts()

Working for pay full-time                    15520
Retired                                       8909
Working for pay part-time                     3222
Self employed (with or without employees)     2446
Unemployed/ looking for work                  1558
Disabled                                      1279
Student                                       1222
Caring for a family                           1010
Other (please specify)                         419
Retired and working for pay                    316
Don't know/ Prefer not to answer               299
Student and working for pay                    163
Caring for family and working for pay          117
Name: cps19_employment, dtype: int64

In [316]:
cps_df.drop('cps19_employment_12_TEXT', axis=1, inplace=True)

In [317]:
cps_df.drop('cps19_sector', axis=1, inplace=True)

In [318]:
cps_df.drop('cps19_property_6', axis=1, inplace=True)

In [319]:
cps_df.shape

(36480, 149)

In [320]:
cps_df.isnull().sum()

cps19_ResponseId           0
cps19_citizenship          0
cps19_yob                  0
cps19_gender               0
cps19_province             0
                       ...
cps19_union                0
cps19_children             0
cps19_income_number    11719
cps19_marital              0
cps19_household         1785
Length: 149, dtype: int64

In [321]:
lead_col = []
for column in cps_df.columns:
    if 'lead' in column:
        lead_col.append(column)
cps_df[lead_col].head()

,cps19_lead_rating_23,cps19_lead_rating_24,cps19_lead_rating_25,cps19_lead_rating_26,cps19_lead_rating_27,cps19_lead_rating_28,cps19_lead_int_113,cps19_lead_int_114,cps19_lead_int_115,cps19_lead_int_116,...,cps19_lead_trust_119,cps19_lead_trust_120,cps19_lead_cares_113,cps19_lead_cares_114,cps19_lead_cares_115,cps19_lead_cares_116,cps19_lead_cares_117,cps19_lead_cares_118,cps19_lead_cares_119,cps19_lead_cares_120
0,55.00,0.00,71.00,15.00,80.00,0.00,Justin Trudeau,NaN,Jagmeet Singh,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Don't know/ Prefer not to answer
1,53.00,0.00,NaN,32.00,59.00,0.00,NaN,NaN,NaN,NaN,...,None of these,NaN,NaN,NaN,NaN,NaN,Elizabeth May,NaN,NaN,NaN
2,74.00,24.00,63.00,NaN,56.00,20.00,Justin Trudeau,NaN,NaN,NaN,...,NaN,Don't know/ Prefer not to answer,NaN,NaN,Jagmeet Singh,NaN,NaN,NaN,NaN,NaN
3,0.00,80.00,0.00,0.00,0.00,10.00,NaN,Andrew Scheer,NaN,NaN,...,NaN,NaN,Justin Trudeau,Andrew Scheer,Jagmeet Singh,NaN,NaN,NaN,NaN,NaN
4,30.00,60.00,NaN,50.00,60.00,30.00,NaN,Andrew Scheer,Jagmeet Singh,NaN,...,NaN,Don't know/ Prefer not to answer,NaN,NaN,Jagmeet Singh,NaN,NaN,NaN,NaN,NaN

In [322]:
cps_df.drop(lead_col, axis=1, inplace=True)